@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
}

body {
  font-size: 18px;
  background-color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #202046;
  overflow-x: hidden;
}

@media screen and (min-width: 885px) {
  #wrapper {
    height: 100vh;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper {
    height: 85vh;
  }
}

#wrapper .grid {
  padding: 2.8em 0 1.5em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  place-items: center;
}

@media screen and (min-width: 885px) {
  #wrapper .grid {
    padding: 6em 0 1.5em 0;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid {
    max-width: 1400px;
    width: 73%;
    margin: 0 auto;
  }
}

#wrapper .grid .left-col {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2/8;
  -ms-grid-row: 1;
  grid-row: 1;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .left-col {
    -ms-grid-column: 5;
    -ms-grid-column-span: 4;
    grid-column: 5/9;
    justify-self: flex-end;
  }
}

#wrapper .grid .left-col .col-img {
  width: 254px;
  height: 254px;
  position: relative;
}

@media screen and (min-width: 885px) {
  #wrapper .grid .left-col .col-img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .left-col .col-img {
    width: 507px;
    height: 507px;
  }
}

#wrapper .grid .left-col .col-img::after {
  position: absolute;
  top: -10%;
  left: -13%;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: center;
          transform-origin: center;
  width: 127%;
  height: 127%;
  content: "";
  background: url(../images/pattern-bg.svg) no-repeat;
  z-index: -1;
  background-size: 100%;
}

@media screen and (min-width: 885px) {
  #wrapper .grid .left-col .col-img::after {
    top: -17%;
    left: -17%;
    width: 135%;
    height: 135%;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .left-col .col-img::after {
    top: -12%;
    left: -13%;
    background-size: 96%;
  }
}

#wrapper .grid .left-col .col-img img {
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  -webkit-box-shadow: 3px 16px 20px rgba(0, 0, 0, 0.28);
          box-shadow: 3px 16px 20px rgba(0, 0, 0, 0.28);
}

#wrapper .grid .left-col .col-img .col-arrows {
  background-color: #fff;
  border-radius: 50px;
  padding: 13px 15px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: -4px 6px 17px rgba(0, 0, 0, 0.18);
          box-shadow: -4px 6px 17px rgba(0, 0, 0, 0.18);
  position: absolute;
  bottom: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 111;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .left-col .col-img .col-arrows {
    padding: 17px 21px;
    width: 103px;
    left: 15%;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%);
  }
}

#wrapper .grid .left-col .col-img .col-arrows img {
  width: 10px;
  border-radius: 6px;
  cursor: pointer;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .left-col .col-img .col-arrows img {
    width: 13px;
  }
}

#wrapper .grid .right-col {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  z-index: 550;
}

@media screen and (min-width: 885px) {
  #wrapper .grid .right-col {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2/8;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col {
    -ms-grid-column: 1;
    -ms-grid-column-span: 5;
    grid-column: 1/6;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

#wrapper .grid .right-col .col-content {
  padding: 4.5em 1.8em 1.4em 1.8em;
  text-align: center;
  line-height: 1.4em;
  background: url(../images/pattern-quotes.svg) no-repeat;
  background-size: 15%;
  background-position: 50% 28%;
}

@media screen and (min-width: 590px) {
  #wrapper .grid .right-col .col-content {
    background-size: 10%;
    background-position: 50% 45%;
  }
}

@media screen and (min-width: 885px) {
  #wrapper .grid .right-col .col-content {
    background-size: 12%;
    background-position: 23% 54%;
    padding: 7em 1.8em 1.4em 1.8em;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col .col-content {
    background-size: 15%;
    background-position: 16% 27%;
    padding: 7em 0em 1.4em 0em;
  }
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col .col-content p {
    font-size: 32px;
    line-height: 1.4em;
    text-align: left;
  }
}

#wrapper .grid .right-col .col-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col .col-author {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

#wrapper .grid .right-col .col-author span {
  font-size: 16px;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col .col-author span {
    font-size: 17px;
  }
}

#wrapper .grid .right-col .col-author span:nth-child(1) {
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (min-width: 1335px) {
  #wrapper .grid .right-col .col-author span:nth-child(1) {
    margin-right: 10px;
  }
}

#wrapper .grid .right-col .col-author span:nth-child(2) {
  color: #babacf;
  font-weight: 500;
}

footer {
  height: 10px;
}

@media screen and (min-width: 885px) {
  footer {
    height: 0;
  }
}

footer img {
  max-width: 100%;
}
/*# sourceMappingURL=styles.css.map */